*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.types-of-patients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.3rem;
    max-width: 1200px;

}

.types-of-patients h1 {
    font-size: 1.5rem;
}

.types-of-patients p {
    font-size: 0.8rem;
    line-height: 1.5;
    color: gray;

}

.discription {
    text-align: center;
}

.discription p {
    padding: 1rem;
    font-size: 1rem;
}

.discription h1 {
    padding: 0.5rem;
}

img {
    width: 200px;
}

.tag {
    display: block;
    min-width: 140px;
}

.tag h1 {
    font-size: 0.5rem;
    width: 100px;
}

.tag p {
    font-size: 0.55rem;


}
.tag img{
    width: 20px;
}

.num {
    width: 50px;
    height: 50px;
}

#a {
    background-color: darkslateblue;
}

#b {
    background-color: skyblue;
}

#c {
    background-color: turquoise;
}

#d {
    background-color: lightseagreen;
}

#e {
    background-color: seagreen;
}

.head {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#first {
    background-color: darkslateblue;
    border: 2px;
    width: 150px;

}

#sec {
    background-color: skyblue;
    border: 2px;
    width: 150px;

}

#trd {
    background-color: turquoise;
    border: 2px;
    width: 150px
}

#four {
    background-color: lightseagreen;
    border: 2px;
    width: 150px
}

#five {
    background-color: seagreen;
    border: 2px;
    width: 150px
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}